body {
    font-family: "Poppins", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  
  .formulario {
    width: 100%;
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .cuadro {
    padding: 20px;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .form-column {
    flex: 1;
    min-width: 300px;
  }
  
  .form-group {
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: black;
    font-weight: bold;
  }
  
  .casilla {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    color: #333;
    background-color: beige;
    border: 1px solid black;
    border-radius: 5px;
    transition: border-color 0.3s;
  }
  
  .casilla:focus {
    border-color: beige;
  }
  
  .boton-container {
    text-align: center;
  }
  
  .cuadro button {
    padding: 10px 20px;
    font-size: 14px;
    color:white;
    background-color: grey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .cuadro button:hover {
    background-color: black;
  }
  
  .tabla {
    width: 100%;
    max-width: 1800px;
    margin: 25px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: black;
    display: flex;
    justify-content: center;
  }
  
  .tabla-container {
    overflow-x: auto;
    color: black;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid black;
  }
  
  th {
    background-color: #f7f7f7;
  }
  
  tbody tr:nth-child(even) {
    background-color: white;
  }
  
  .edit-btn, .delete-btn {
    padding: 5px 10px;
    font-size: 12px;
    color: beige;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .edit-btn {
    background-color: #28a745;
    padding-right: 10px;
  }
  
  .edit-btn:hover {
    background-color: #218838;
  }
  
  .delete-btn {
    background-color: #dc3545;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }