
html, body {
    width: 100%!important;
    overflow-x: hidden!important;
}



*{margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/*reset para que el tamano de la fuente de 1rem y 1em sean a 10px*/

html{font-size: 62.5%;}

ul{list-style: none;}

a{text-decoration: none;
 color: black;
}









.footer {
    font-size: 4px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    border: 2px solid black;
    flex-direction: column;
    margin-top: 6rem;
}

.footer p {
    font-size: 2rem;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1.5rem;
}

.redes {
    display: flex;
    font-size: 30px;
    margin-top: 2rem;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem auto;
}
