
html, body {
    width: 100%!important;
    overflow-x: hidden!important;
}



*{margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/*reset para que el tamano de la fuente de 1rem y 1em sean a 10px*/

html{font-size: 62.5%;}

ul{list-style: none;}

a{text-decoration: none;
 color: black;
}







.section-quienessomos {
    max-width: 1200px;
    padding: 1.5rem;
    margin: 1rem auto;
}

.titulo {
    text-align: center;
    font-size: 45px;
    margin: 4rem;
    padding: 0rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: burlywood;
}

.texto3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    padding: 4rem;
    margin: 8rem;
    background-color: antiquewhite;
    color: maroon;
}

.imagen2 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-quienessomos {
    font-size: 4px;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    border: 2px solid black;
    flex-direction: column;
    margin-top: 6rem;
}

.footer-quienessomos p {
    font-size: 2rem;
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1.5rem;
}

.redes2 {
    display: flex;
    font-size: 30px;
    margin-top: 2rem;
    gap: 3rem;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem auto;
}
